.details {
  width: 11cm;
  height: 10cm;
  border-radius: 10px;
}
.details form {
  color: black;
}
.details h4 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
}
.two {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding-left: 5cm;
  padding-right: 5cm;
}

body {
  /* background-color:rgb(170, 168, 56); */
  /* background-image: url('./component/111.avif'); */
  background-size: cover;
  background-color: black;
  background-image: url("./component/glenn-carstens-peters-P1qyEf1g0HU-unsplash.jpg");
  backdrop-filter: 30px;
}

.link {
  display: flex;
  justify-content: space-evenly;
  padding-left: 10cm;
  padding-right: 10cm;
  text-decoration: none;
  color: red;
  font-size: 18px;
}
.para {
  padding-left: 33%;
  padding-top: 3cm;
  color: white;
}
a {
  text-decoration: none;
}

.lin {
  color: white;
  text-align: center;
}
.div-tag {
  color: white;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}

.box1 {
  /* background-color:white; */
  border: 3px solid white;
  width: 50%;
  height: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.box2 {
  /* background-color:white; */
  border: 3px solid white;
  border-radius: 20px;
  width: 50%;
  height: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  border: 1px solid white; /* Add a border */
  padding: 10px;
  /* Add some padding */
}

.box h2 {
  font-size: 24px; /* Change the font size of the title */
}

.box p {
  font-size: 18px; /* Change the font size of the content */
}

.box3 {
  color: white;

  border-radius: 16px;
  border-color: black;
  display: block;
  border-style: inset;
  width: 7cm;
  height: 8cm;
  text-align: center;
}
.box8 {
  color: white;

  border-radius: 40%;
  border-color: black;
  display: block;
  border-style: inset;
  width: 7cm;
  height: 7cm;
  text-align: center;
  /* background-image: url("./component/IMG_0437.JPG"); */
  background-size: cover;
}
.box10 {
  /* width: 7cm; */
  height: 10cm;
  /* border: 1px solid red; */
  padding-left: cm;
  padding-top: cm;
  /* padding: 20px; */
  box-sizing: border-box;
  display: inline-block;
}
.box9 {
  height: 13cm;
  /* border: 1px solid red; */
  /* margin: 2px; */
  padding: 20px;
  box-sizing: border-box;
  width: 50vw;
  height: 90vh;
  display: "flex";
  justify-content: "center";
}
.box4 {
  color: white;
  display: flex;
  justify-content: space-between;
  padding-left: 6cm;
  padding-right: 6cm;
}
.box5 {
  color: white;
  text-align: center;
  justify-content: space-between;
}
.box5 a {
  color: black;
  font-size: 20px;
  text-decoration: none;
  justify-content: space-evenly;
}
.img {
  /* display: flex;
  justify-content: center; */
  /* justify-content: center; */
  display: flex;
  padding-top: 3cm;
  padding-left: 3cm;
}
/* The navbar container */
.myself {
  display: flex;
}
.my {
  color: floralwhite;
  padding-top: 2cm;
  padding-left: 2cm;
  font-size: 30px;
  font-style: oblique;
  font-family: "Times New Roman", Times, serif;
}
.box h2 {
  color: bisque;
  font-style: italic;
  text-decoration: underline;
}
.paragraph {
  padding-top: 1cm;
  width: 8cm;
  height: 5cm;
  /* border: 1px solid black; */
}
.paragraph p {
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.navLink {
  display: flex;
  justify-content: center;
  border: 4px solid;
}

@media only screen and (max-width: 600px) {
  .box9 {
    height: 13cm;
    /* border: 1px solid red; */
    /* margin: 2px; */
    padding: 20px;
    box-sizing: border-box;
    width: 100vw;
  }
  .myself {
    display: block;
  }
  .link {
    display: none;
  }
}
